.contacts ul {
    list-style: none;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
}

.contacts li {
    margin-bottom: 10px;
}

.contacts span {
    margin-right: 7px;
    background-color: var(--yellowLight);
}

.education,
.experience,
.languages,
.experience {
    letter-spacing: 1.5px;
    font-size: 1.8rem;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    margin-bottom: 2vw;
}

.experience .date,
.education .date {
    background-color: var(--yellowLight);
    width: fit-content;
}

.experience .place {
    text-transform: uppercase;
    font-weight: 600;
}

.experience .description {
    text-align: justify;
    font-size: 1.5rem;
    flex-basis: 90%;
}

.education .mini {
    font-size: 0.9rem;
}


.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3.5px;
    font-size: 1.8rem;
    font-weight: 600;
}

.range-wrapper {
    flex-basis: 55%;
    height: 1.5vh;
    background-color: #D9D9D9;
}

.range {
    height: 1.5vh;
    background-color: #85ea01c6;
}


.language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1.8rem;
    gap: 40px;
    width: 100%;
}

.projects .item {
    flex-basis: 45%;
    letter-spacing: 1.5px;
}

.projects a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.projects a:hover {
    background-color: var(--yellowLight);
}

.projects .description {
    text-align: justify;
    margin: 5px 0 20px;
}

.projects .description span {
    font-weight: 700;
}

.projects .image-wrapper {
    max-width: 50%;
    margin: auto;
}

.projects .image-wrapper img {
    max-width: 100%;
}


@media screen and (max-width: 550px) {
    .projects .item {
        flex-basis: 90%;
    }
}