.first-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .first-block {
    justify-content: center;
  }

  .first {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 775px) {
  .first-block {
    justify-content: center;
  }

  .first {
    order: 2;
    flex-basis: 70%;
  }
}

@media screen and (max-width: 500px) {
  .first {
    flex-basis: 90%;
  }
}