.fourth-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .fourth-block  {
        justify-content: center;
        align-items: center;
    }
}