.second-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.first {
    align-self: center;
}

@media screen and (max-width: 750px) {
    .second-block {
        justify-content: center;
        align-items: center;
    }

    .first {
        order: 2;
        flex-basis: 70%;
    }
}