.container {
    width: 35vw;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.25rem;
    font-weight: 500;
    margin: 8vh 3vw 0;
}

.title {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.container:hover {
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content {
    padding: 20px 0 0;
    font-size: 1.5rem;
    text-shadow: none;
    height: fit-content;
}

.wide {
    width: calc(100vw - 90px);
}


@media screen and (max-width: 750px) {
    .flex-wrapper {
        margin: 10px 10px 0;
    }

    .title {
        font-size: 1.5rem;
    }

    .container {
        width: 80vw;
        margin: 2vh 0 7vh;
    }

    .wide {
        width: auto;
    }
    
}

@media screen and (max-width: 500px) {
    .container {
        width: 90vw;
    }
}