.container {
    font-size: 1.7rem;
    width: auto;
    margin: 10vh 3vw;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    gap: 7vw;
}

.image-wrapper {
    width: 300px;
    height: auto;
    flex-basis: 25%;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
}

.text {
    border-top: 1px solid black;
    flex-basis: 65%;
    padding-top: 4vh;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.mini {
    font-size: 1.7rem;
}

.title {
    font-size: 2rem;
    padding-bottom: 3vh;
}

@media screen and (max-width: 750px) {
    .image-wrapper {
        align-self: center;
        width: 250px;
    }
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .image-wrapper {
        width: 50vw;
        text-align: center;
    }

    .container {
        font-size: 1.5rem;
    }
}