.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 4vh auto;
    padding: 1vh 1vw;
    background-color: white;
    width: fit-content;
}

.image-wrapper {
    width: 70px;
    height: auto;
}

.image-wrapper img {
    max-width: 100%;
    opacity: 85%;
}