.header {
    font-weight: 500;
    font-size: 5.5rem;
    width: 37%;
    margin: 5vh 3vw 0;
    text-align: right;
}

@media screen and (max-width: 1300px) {
    .header {
        font-size: 3.5rem;
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    .header {
        font-size: 2.5rem;
        margin: 10px;
        text-align: center;
    }
}