@import url('https://fonts.googleapis.com/css2?family=Imbue&display=swap');

:root {
  --pink: #c27f79ac;
  --yellow: rgba(255, 230, 0, 0.861);
  --yellowLight: rgba(250, 237, 111, 0.861);
}

body {
  font-family: 'Imbue', serif;
  background-image: linear-gradient(180deg, #cccccc, #DBD490);
}

* {
  margin: 0;
  padding: 0;
}
