.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.decoration {
    position: relative;
    border-radius: 50%;
    background-image: linear-gradient(180deg, var(--yellow), #cccccc);
    top: 500px;
    left: -200px;
    width: 970px;
    height: 1038px;
    rotate: 37deg;
}

@media screen and (max-width: 1000px) {
    .decoration {
        left: -400px;
        width: 970px;
        height: 738px;
    }
}

@media screen and (max-width: 700px) {
    .decoration {
        left: -550px;
        height: 638px;
    }
}

@media screen and (max-width: 500px) {
    .decoration {
        height: 438px;
    }
}

@media screen and (max-width: 450px) {
    .decoration {
        left: -550px;
        height: 338px;
    }
}

@media screen and (max-width: 400px) {
    .decoration {
        display: none;
    }
  }